bachprocessing/src/main/mule/bachprocessing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="48313340-ce51-4104-ab85-4a38c79543f1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1204d59b-0297-4d5f-ad65-e72a45b15cf9" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Sampathsk03@" database="foreachdb1" />
	</db:config>
	<flow name="bachprocessingFlow" doc:id="bdc22729-9838-4554-b25d-08e50a075435" >
		<http:listener doc:name="Listener" doc:id="89868cc0-a48b-4adb-ba6e-24583980e391" config-ref="HTTP_Listener_config" path="bp"/>
		<ee:transform doc:name="Transform Message" doc:id="8f7f5558-af8e-4d97-9752-46c5df5bfb24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 300map
{
	stdid : if ($$==10) "error" else (100+$$),
	stdname: "samp",
	stdphno: 526
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="bachprocessingBatch_Job" doc:id="d702dd99-9b7a-49c2-b736-96c893df153d" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="c3a98e1c-8d87-464f-ad1f-c6cf50920151">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="6afe91e1-461e-44d0-95d2-014afd822fb1" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="25524b4d-2589-439d-a92e-3d86d9b5f10a" />
						<db:bulk-insert doc:name="Bulk insert" doc:id="05d48102-79e3-4178-9f63-a8c2b5a0bbd1" config-ref="Database_Config">
				<db:sql><![CDATA[insert into foreachdb1.std (stdid, stdname, stdphno)
values (:stdid, :stdname, :stdphno);]]></db:sql>
			</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="79460c1b-3c93-418f-9288-5fdbcb79b335" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="6c89011e-cbcd-4a06-9659-42b8b5849587" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
