soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d24c99bf-e5c9-45f0-889e-11618efa8be0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="159de170-9290-4263-ae2f-526e363a7ce8" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soapFlow" doc:id="3507e1b3-82ee-4d5c-b72b-fd07b57f7958" >
		<http:listener doc:name="Listener" doc:id="1fdd670b-9787-48cb-b4ce-1de4b09f40ea" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="number1" doc:id="8b810ba6-69e9-4016-bc30-d991999e10e4" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="umber2" doc:id="a7e3af90-8a2a-4faf-90c5-bc2f154f5f36" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="7ca3f4fa-9686-4cdc-ad2a-0d506656b594" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:name="Consume" doc:id="81c7b6fc-71e6-4451-a10c-bb1c948ee708" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="8a500c1a-3910-416c-949b-8cc2b26a2599" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="762dee6d-e3f6-4306-ac37-9b5d823dd588" message="#[payload]"/>
	</flow>
</mule>
